.link {
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
    /*.categories::-webkit-scrollbar { width: 0; }*/

    .box:nth-child(1) {
        margin-left: 15px;
    }

    .box:last-child {
        margin-right: 15px;
    }
}