.btn {
    width: 30px;
    border: none;
    background-color: #f9fbe7;
    cursor: pointer;
    font-size: 1.2rem;
    vertical-align: center;
}

.btn :hover {
    background-color: #f9fbe7;
}

.btn :active {
    color: #f80000;
}
